{% extends 'blog/base.html' %}

{% block title %}Delete Comment{% endblock title %}


{% block modal_body %}
    Are you sure you want to delete?
{% endblock modal_body %}

{% block btn_type %}Delete Comment{% endblock btn_type %}


{% block body %}

    <h1>Delete a Comment on: {{blog.title}}</h1>

    <form method="post" id="form">
        {% csrf_token %}
        {{form}}
        <input type="button" value="Delete Comment" class="btn btn-primary" onclick="invokeModal()">
    </form>

{% endblock body %}