{% extends 'blog/base.html' %}

{% block title %}
    Blog's disliked
{% endblock title %}

{% block body %}
    {% if blog_dislikes|length %}

        <h1>Blog's disliked by you</h1>
        <table class="table">
            <tr>
                <th>Blog Name</th>
                <th>Author</th>
            </tr>
            {% for blog_dislike in blog_dislikes %}
                <tr>
                    <td><a href="/home/{{blog_dislike.blogid}}" target="_blank">{{blog_dislike.title}}</a></td>
                    <td>
                        {{blog_dislike.user.first_name}}
                        {% if request.user == blog_dislike.user %}
                            (You)
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        
        </table>
    {% else %}
        <h1>Sorry, you have not disliked any blogs till date.</h1>
    {% endif %}

{% endblock body %}