{% extends 'blog/base.html' %}

{% block title %}
    Replies given
{% endblock title %}

{% block body %}
    {% if replies_given|length %}

        <h1>Replies given by you</h1>
        <table class="table">
            <tr>
                <th>Sr No.</th>
                <th>Reply To</th>
                <th>Reply Body</th>
                <th>Total Likes</th>
                <th>Total Dislikes</th>
                <th>Blog</th>
                <th>Blog Author</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for reply_given in replies_given %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>
                        <span class="has-tooltip"
                        data-bs-toggle="tooltip" data-bs-placement="top" title="{{reply_given.head_comment.body}}" class="has-tooltip">
                            {{reply_given.head_comment.comment_user.first_name}}
                        </span>
                    </td>
                    <td>{{reply_given.body}}</td>
                    <td>{{reply_given.noOfLikes}}</td>
                    <td>{{reply_given.noOfDisLikes}}</td>
                    <td><a href="{% url 'blog:get_blog' reply_given.blog.blogid %}" target="_blank">{{reply_given.blog.title}}</a></td>
                    <td>
                        {{reply_given.blog.user.first_name}}
                        {% if request.user == reply_given.blog.user %}
                            (You)
                        {% endif %}

                    </td>

                    <td><a href="{% url 'blog:update_reply' reply_given.blog.blogid reply_given.head_comment.comment_id reply_given.comment_id %}?next={{request.path}}" class="blog-control btn btn-warning"><i class="bi-pencil-square"></i></a></td>
                    <td><a href="{% url 'blog:delete_reply' reply_given.blog.blogid reply_given.head_comment.comment_id reply_given.comment_id %}?next={{request.path}}" class="blog-control btn btn-danger"><i class="bi-trash-fill"></i></a></td>
                </tr>
            {% endfor %}
        
        </table>
    {% else %}
        <h1>Sorry, you have not given any replies till date.</h1>
    {% endif %}

{% endblock body %}