{% extends 'blog/base.html' %}

{% block title%}Login Page{% endblock %}

{% block body%}

    {% if hasUsers %}

        <h1>Sign In</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div>
            {{ form.username.label }}
            {{ form.username }}
            {{ error.username }}
            </div>


            <div>
            {{ form.password.label }}
            {{ form.password }}
            {{ error.password }}

            </div>
            <input type="submit" class="btn btn-primary">
        </form>

        <h3>For new user's <a href="{% url 'blog:signup' %}?next={{request.GET.next}}">Signup</a></h3>
    {% else %}
        <h1>There are no users in the system</h1>
        <h4>Create some by <a href="{% url 'blog:signup' %}?next={{request.GET.next}}">Signing Up</a></h4>
    {% endif %}
{% endblock %}