{% extends 'blog/base.html' %}

{% block title %}Update Comment{% endblock title %}


{% block modal_body %}
    Are you sure you want to update?
{% endblock modal_body %}

{% block btn_type %}Update Comment{% endblock btn_type %}


{% block body %}

    <h1>Update a Comment on: {{blog.title}}</h1>

    <form method="post" id="form">
        {% csrf_token %}
        {{form}}
        <input type="button" value="Update Comment" class="btn btn-primary" onclick="invokeModal()">
    </form>

{% endblock body %}